<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost.headers" version="1.65.1" targetFramework="native" />
  <package id="boost_atomic.libs.v140_xp.windesktop.msvcstl.static.rt-dyn" version="1.65.1" targetFramework="native" />
  <package id="boost_chrono.libs.v140_xp.windesktop.msvcstl.static.rt-dyn" version="1.65.1" targetFramework="native" />
  <package id="boost_date_time.libs.v140_xp.windesktop.msvcstl.static.rt-dyn" version="1.65.1" targetFramework="native" />
  <package id="boost_filesystem.libs.v140_xp.windesktop.msvcstl.static.rt-dyn" version="1.65.1" targetFramework="native" />
  <package id="boost_regex.libs.v140_xp.windesktop.msvcstl.static.rt-dyn" version="1.65.1" targetFramework="native" />
  <package id="boost_system.libs.v140_xp.windesktop.msvcstl.static.rt-dyn" version="1.65.1" targetFramework="native" />
  <package id="boost_thread.libs.v140_xp.windesktop.msvcstl.static.rt-dyn" version="1.65.1" targetFramework="native" />
</packages>